<div class="container-fluid">
   <div class="row mb-4">
      <div class="col-md-12">
         <app-formulario-cadastro
            [form]="motivoPerdaForm"
            [titulo]="'Motivo da Perda'"
            [id]="motivoPerdaId"
            (cadastrar)="cadastrarMotivoPerda()"
            (alterar)="alterarMotivoPerda()"
            (limpar)="limpar()">
         </app-formulario-cadastro>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12 d-flex justify-content-center align-items-center">
         <app-tabela-cadastro [titulo]="'Motivos da Perda'" [dados]="motivosPerda" (pegarDado)="selecionarMotivoPerda($event)"></app-tabela-cadastro>
      </div>
   </div>
</div>
